.user-weraper {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 8px;
  box-sizing: border-box;
}
.no-user-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 8px;
  border-radius: 4px;
}

.userItem-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 6px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  /* animation: fadein 200ms ease-in-out forwards; */
}

.each-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}

.each-user p {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
